* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #800000; 
}


header {
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #a20202; 
    height: 6rem;           
}


.primeira, .segunda, .terceira {
    margin: 20px;           
}

.primeira {
    display: flex;
    flex-direction: column; 
}

img {
    width: 15rem;             
    height: 15rem;            
}

.segunda {
    display: flex;
    justify-content: center; 
    align-items: center;       
    background-color: #bb0b0b;
    height: 25rem;             
    gap: 20px;                
}

p {
    max-width: 200px;        
    line-height: 1.5;       
}

.terceira {
    display: flex;
    flex-direction: column;    
    align-items: center;       
    gap: 10px;                 
}

.terceira img {
    width: 15rem;              
    height: 15rem;              
}


.terceira {
    margin-top: 20px;          
}